#glavni{
    width: 100%;
    height: 100%;
}

#glavniRed{
    vertical-align: top;
}

#levaKolona{
    background-color: #525252;;
}

#glavnaKolona
{
    background-color: #f2f2f2;
    width: 700px;
    padding: 10px;
}

#desnaKolona
{
    background-color: #525252;
}